.menu {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  > label {
    margin-right: 5px;
    font-weight: bold;
  }

  > input[type='color'] {
    margin-bottom: 10px;
  }

  > input[type='range'] {
    margin-bottom: 10px;
    width: 100%;
  }
}
